<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8" />
        <title>Source Code Reader</title> 
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/content/allmobile")
        
    </head> 
<body> 

    
            @RenderBody()		
    
      @Scripts.Render("~/bundles/allmobile")
</body>
</html>