@section PageSpecificMenu
{
    <ul class="nav pull-right" data-bind="visible: projectIsActive">       
        <li><a href="/">&times; Close Project</a></li>
        <li><a href="http://twitter.com/share?url=http://sourcecodereader.apphb.com/&text=Code%20navigation%20for%20Github%20hosted%20C%23%20projects" target="_blank" class="twitterlogo" alt="Share this on Twitter"><span>Share this on Twitter</span></a></li>
    </ul>     
}

 <div class="showprogress" id="apploader"></div>
<div class="centerstage hide" id="main">

    <div data-bind="with: projectInfo">    
          <div  class="loginscreen">
              <label for="projectUrl">Enter GitHub Project Url (e.g. <a href="/#/open/cvrajeesh/SourceCodeReader">https://github.com/cvrajeesh/SourceCodeReader</a>)</label>  
              <input type="text" name="projectUrl" data-bind="value: url, valueUpdate: 'afterkeydown'" class="input-large" />
              <span data-bind="visible: hasError">Please enter valid url</span>
              <div> <button type="submit" class="btn btn-large" data-bind="click: open, css: { disabled: disableOpening }, attr: {disabled: disableOpening}">Open project</button></div>
             <br />
              <p>
                  <span class="badge badge-warning">!</span> <strong>Issues</strong>                  
              </p>
              <ul>
                <li>Supports only C# projects</li>
                <li>Commits on GitHub after opening the projects is not synchronized</li>                  
              </ul>

              <p>
                  <span class="badge badge-success">!</span> <strong>Roadmap</strong>                  
              </p>
              <ul>
                  <li>Support for other programming languages</li>
                  <li>Better syntax higlighting</li>
                  <li>Support other code hostings services</li>
              </ul>
        </div>
         

    </div>
    <div data-bind="with: project, visible: isReady">
        <div class="projectheader dockrow ">
            <h3><span data-bind="text: username"></span>/<span data-bind="text: name"></span> <span class="label label-important"><a data-bind="text: versionInfo, attr: { href: projectGithubUrl}" class="versionInfo" target="_blank"></a></span></h3>     
            <ul class="breadcrumb"  data-bind="foreach: breadcrumbs">
              <li data-bind="visible: active">
                <a data-bind="text: text, attr: {href: url}"></a> <span class="divider">/</span>
              </li>  
              <li data-bind="visible: !active, text: text, css: { active: !active}">
              </li>        
            </ul>
            
        </div>
        <div class="projectcontent stylishscrollbar dockrow scroll-x scroll-y">
            <div class="showprogress" data-bind="visible: inProgress"></div>
            <div data-bind="with: file">
                <pre data-bind="html: content, scrollTo: lineNumber"  id="sourcecodeviewer">
                </pre>
            </div>
            <div data-bind="visible: directories().length > 0 || files().length > 0">
                <table class="table">
                    <thead>
	                    <tr>
		                    <th class="iconcolumn"></th>
		                    <th>Name</th>  
                            <th>Path</th>            
	                    </tr>
                    </thead>
                    <tbody>
	                    <!-- ko foreach: directories -->
	                    <tr>
		                    <td><i class="icon-folder-open"></i></td>
		                    <td><a data-bind="text: name, attr: { href: $parent.buildUrl('/' + path)}"></a></td>
		                    <td data-bind="text: path"></td>
	                    </tr>
	                    <!-- /ko -->

	                    <!-- ko foreach: files -->
	                    <tr>
			                    <td><i class="icon-file"></i></td>
		                    <td><a data-bind="text: name, attr: { href: $parent.buildUrl('/' + path)}"></a></td>
                                <td data-bind="text: path"></td>
	                    </tr>
	                    <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
         <!-- ko with: $root.findResult -->
        <div data-bind="visible: show" class="otherwindow dockrow">
            <button class="close" data-bind="click: close">&times;</button>
            <div class="otherwindowheader"><span data-bind="text: title"></span></div>
            <div class="otherwindowpane container stylishscrollbar scroll-x scroll-y">
                <table class="table">
                    <thead>
	                    <tr>		             
		                    <th>Filename</th>  
                            <th>Path</th>
                            <th>Line Number</th>            
	                    </tr>
                    </thead>
                    <tbody>
                    <!-- ko foreach: items -->
                        <tr data-bind="click: $root.openFile">
                            <td data-bind="text: FileName"></td>
                            <td data-bind="text: Path"></td>
                            <td data-bind="text: Position"></td>
                        </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko with: $root.output -->
        <div data-bind="visible: show" class="otherwindow dockrow">
            <button class="close" data-bind="click: close">&times;</button>
            <div class="otherwindowheader"><span data-bind="text: title"></span></div>
            <div class="otherwindowpane container stylishscrollbar scroll-x scroll-y">
                <pre data-bind="text: content">

                </pre>
            </div>
        </div>
        <!-- /ko -->
        
        <div class="statusbar dockrow" data-bind="text: $root.projectStatus">
        </div>
    </div>   
    

</div>


@section scripts
{
     <script type="text/javascript" src="/signalr/hubs"></script>
     @Scripts.Render("~/bundles/applicationjs")
}