<div data-role="page">
    <div data-role="header">
        <h1>Source Code Reader</h1>
    </div>

    <div data-role="content">
        <form action="/" method="post">
            <label for="projectUrl" class="ui-hidden-accessible">GitHub project url</label>
            <input type="url" id="projectUrl" name="projectUrl" placeholder="GitHub project url" />
            <button type="submit" name="openProject">Open</button>
        </form>           
    </div>
</div>