<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetMvc" version="4.0.20505.0" />
  <package id="AspNetWebApi" version="4.0.20505.0" targetFramework="net40" />
  <package id="AWSSDK" version="1.4.11.0" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net40" />
  <package id="jQuery" version="1.7.2" targetFramework="net40" />
  <package id="jquery.cookie" version="1.0" />
  <package id="jquery.mobile" version="1.1.0" />
  <package id="jQuery.Mobile.MVC" version="0.0.2" />
  <package id="jQuery.Validation" version="1.9" targetFramework="net40" />
  <package id="knockoutjs" version="2.1.0" targetFramework="net40" />
  <package id="le_log4net" version="2.0.2" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Lucene.Net" version="2.9.4.1" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Providers" version="1.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0-beta2" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="2.0.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.7" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.Extensions.Logging" version="3.0.1.0" targetFramework="net40" />
  <package id="Ninject.Extensions.Logging.Log4net" version="3.0.1.0" targetFramework="net40" />
  <package id="RestSharp" version="103.1" targetFramework="net40" />
  <package id="Roslyn" version="1.1.20524.4" targetFramework="net40" />
  <package id="Roslyn.Compilers.Common" version="1.1.20524.4" targetFramework="net40" />
  <package id="Roslyn.Compilers.CSharp" version="1.1.20524.4" targetFramework="net40" />
  <package id="Roslyn.Compilers.VisualBasic" version="1.1.20524.4" targetFramework="net40" />
  <package id="Roslyn.Services.Common" version="1.1.20524.4" targetFramework="net40" />
  <package id="Roslyn.Services.CSharp" version="1.1.20524.4" targetFramework="net40" />
  <package id="Roslyn.Services.VisualBasic" version="1.1.20524.4" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" />
  <package id="SignalR" version="0.5.1" targetFramework="net40" />
  <package id="SignalR.Hosting.AspNet" version="0.5.1" targetFramework="net40" />
  <package id="SignalR.Hosting.Common" version="0.5.1" targetFramework="net40" />
  <package id="SignalR.Js" version="0.5.1" targetFramework="net40" />
  <package id="SignalR.Server" version="0.5.1.1" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="2.0.4.1" targetFramework="net40" />
  <package id="WebActivator" version="1.5.1" targetFramework="net40" />
  <package id="WebGrease" version="1.0.0" targetFramework="net40" />
</packages>